DATA_SOURCE=mock
ENABLED_FEATURES=dashboard,incidents,contracts

DATABASE_URL=postgresql://user:pass@host:5432/db

KC_REALM=opda-dashboard
KC_CLIENT_ID=opda-frontend
KC_INTERNAL_BASE=http://keycloak:8080/auth
KC_EXTERNAL_ISSUER=http://localhost:8088/auth/realms/opda-dashboard